@(game: models.JeopardyGame, info: String, role:String, classString:String)
@import play.i18n._
@import helper._

@main("winner-page", "Gewinnanzeige") {      
      <!-- Content -->
      <div role="main">

		@gameInfo(game.getLeader(), game.getSecond(), game.getMaxQuestions(), game.isHumanPlayer(game.getLeader().getUser()))

          @if(role!=null && classString!=null && info!=null) {
              <div role="@role" class="@classString" style="text-align: center">
              @info
              </div>
          }

              <section id="newgame" aria-labelledby="newgameheading">
             <h2 id="newgameheading" class="accessibility">@Messages.get("quizover.newgame")</h2>
             @helper.form(routes.GameController.newGame()) {
             <input name="newgame" id="new_game" class="orangelink contentlink" type="submit" value="@Messages.get("quizover.newgame")" />
             }
<!--          	 <a class="orangelink contentlink" id="new_game" href="@routes.GameController.newGame()">@Messages.get("quizover.newgame")</a>
 -->         </section>
      </div>
} {
		<script type="text/javascript">
        //<![CDATA[
           $(document).ready(function(){
         	   if(supportsLocalStorage()){
         		   localStorage["lastGame"] = new Date().getTime();
         	   }
           });
        //]]>
        </script>  
}